    <div class="form-container">
        <form class="form" action="/password-change" method="post">

            <div class="form-component">
                <div class="comp-left">
                    <img class="form-img" src="{{profile.avatar}}" alt="">
                </div>
                <div class="comp-right">
                    <p class="profile-name">{{profile.name}}</p>
                </div>
            </div>

            <div class="form-component">
                <div class="comp-left">
                    <p>
                        <span class="title">Mật khẩu cũ</span>
                    </p>
                </div>
                <div class="comp-right">
                    <div class="comp-container input-container">
                        <input class="input-control" type="password" name="old">
                    </div>
                </div>
            </div>

            <div class="form-component">
                <div class="comp-left">
                    <p>
                        <span class="title">Mật khẩu mới</span>
                    </p>
                </div>
                <div class="comp-right">
                    <div class="comp-container input-container">
                        <input class="input-control" type="password" name="new">
                    </div>
                </div>
            </div>

            <div class="form-component">
                <div class="comp-left">
                    <p>
                        <span class="title">Xác nhận mật khẩu mới</span>
                    </p>
                </div>
                <div class="comp-right">
                    <div class="comp-container input-container">
                        <input class="input-control" type="password" name="conf">
                    </div>
                </div>
            </div>
            <div class="form-component">
                <div class="comp-left">

                </div>
                <div class="comp-right submit-container">
                    <button type="submit" class="btn btn-primary" name="button">Đổi mật khẩu</button>
                </div>
            </div>
            <div class="form-component">
                <div class="comp-left">

                </div>
                <div class="comp-right submit-container">
                    <button type="submit" class="psedo-btn prevent-default" name="button">Quên mật khẩu?</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/change/change-password.js"></script>
